<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://58.65.166.212/labs</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">Admin@123</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">2</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <property name="javax.persistence.validation.mode">none</property> 
       <!-- 
       	<mapping resource="model/Group.hbm.xml"/>
        <mapping resource="model/User.hbm.xml"/>
        -->
        
       
            <mapping class="org.example.Person" />
<!--        <mapping class="onlyfun.js.model.Coach" />-->
<!--        <mapping class="onlyfun.js.model.Student" />-->
<!--        <mapping class="onlyfun.js.model.Car"/>-->
<!--        <mapping class="onlyfun.js.model.LocalOfSign"/>-->
<!--        <mapping class="onlyfun.js.model.Stock"/>-->
<!--        <mapping class="onlyfun.js.model.News"/>-->
<!--        <mapping class="onlyfun.js.model.Question"/>-->
<!--        <mapping class="onlyfun.js.model.QuestionItem"/>-->
<!--        <mapping class="onlyfun.js.model.StudyItems"/>-->
        
    </session-factory>
</hibernate-configuration>